/* Write your CSS here */
.money-details-manager {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.balance-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ecfccb;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #84cc16;
}

@media screen and (min-width: 768px) {
  .money-details-manager {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .balance-container {
    width: 30%;
    margin-right: 20px;
  }
}

.details-img {
  width: 60px;
  height: 60px;
  margin: 24px;
}

.balance-text {
  font-family: 'Roboto';
  font-size: 12px;
  color: #475569;
  margin: 8px;
}

.balance-money {
  font-size: 12px;
  font-family: 'Roboto';
  color: #475569;
}

.income-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #cffafe;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #0b69ff;
}

.expenses-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ede9fe;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #7c3aed;
}
